
   body {
            margin: 0;
            font-family: 'Arial', sans-serif;
            transition: background-color 0.3s ease;
        }

        .fullscreen-container {
            display: flex;
 margin: 0;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .toggle-btn {
            background-color: #f1f1f1;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
       
transition: background-color 0.3s ease;
 margin: 0;
        }

        .dark-mode {
            background-color: #333;
            color: #fff;
 margin: 0;
        }
body{
background-color:rgb(178, 167, 185);
}
@media screen and (max-width: 1127px){
body {
background-color: VIOLET;
}
margin: 0;
padding: 20px;
font-family  'roboto' , sams-serif;
}
h1{
  color: red;
  text-align: center;
  font-size: 80px;
  font-family  'roboto' , sams-serif;
  margin-top: 20px;
  margin-buttom: 10px;
  }
h2{
color: yellow;
text-align: center;
font-size: 50px;
font-family  'roboto' , sams-serif;
margin-top: 30px;
margin-buttom: 15px;
}
h3 {color: GREEN;
text-align: center;
font-size: 25px;
font-family  'roboto' , sams-serif;
margin-top: 15px;
margin-buttom: 15px;
}
h4 {
color:red (253, 219, 0);
text-align: center;
font-size: 40px;
font-family  'roboto' , sams-serif;
margin-top: 35px;
margin-buttom: 15px;
}




header {
width: 100%;
}
ul  {
list-style: none;
}
#nav_bar  {
float: center;
}
#nav_bar li  {
list-style: none;
display: inline-block;
padding: 8px;
}
a {
text-decoration: none;
color: inherit;
}
li.nav-links a:hover {
text-decoration: underline;
}
.mylogo #my_logo {
text-align: center;
display: block;
margin: 0 auto;
clear: both;
padding-top: 0 auto;
padding-bottom: 0 auto;
}

.mylogo1{
text-align: center;
}


.current-user-picture {
align: center;
  height: 100px;
margin-top: 30px;
  border-radius: 35px;
margin-bottom: 35;
}
.myvideo #my_video {
text-align: center;
display: block;
margin: 0 auto;
clear: both;
padding-top: 12px;
padding-bottom: 20px;
}


p{
text-align: center;
front-size: 10px;
color: red;
}
.button {
  padding: 8px 16px; /* Smaller padding */
  font-size: 14px; /* Smaller font size */
  color: white;
  background: linear-gradient(45deg, #8f7979, #000000); /* Gradient background */
  border: none;
  border-radius: 25px; /* More rounded corners */
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: background 0.3s, transform 0.3s; /* Smooth transitions */
}
.button:hover {
  background: linear-gradient(45deg, #ee0014, #8f898f); /* Reverse gradient on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}
